.u-section-1 {
  min-height: 780px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 780px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 96px;
  margin-top: 4px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 42px auto 0;
  padding: 9px 41px 11px 40px;
}

.u-section-1 .u-icon-1 {
  vertical-align: 0px;
  font-size: 1.2858em;
  margin-right: 10px;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 34px auto 0;
  padding: 9px 39px 10px 38px;
}

.u-section-1 .u-icon-2 {
  vertical-align: -1px;
  margin-right: 10px;
  font-size: 1.2858em;
}

.u-section-1 .u-btn-3 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 34px auto 0;
  padding: 10px 35px 10px 33px;
}

.u-section-1 .u-icon-3 {
  vertical-align: 0px;
  font-size: 1.2858em;
  margin-right: 10px;
}

.u-section-1 .u-btn-4 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 34px auto 0;
  padding: 9px 30px 10px;
}

.u-section-1 .u-icon-4 {
  vertical-align: 0px;
  font-size: 1.2858em;
  margin-right: 10px;
}

.u-section-1 .u-btn-5 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 34px auto 0;
  padding: 9px 25px 10px 24px;
}

.u-section-1 .u-icon-5 {
  vertical-align: 0px;
  font-size: 1.2858em;
  margin-right: 10px;
}

.u-section-1 .u-btn-6 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 34px auto 0;
  padding: 9px 31px 10px;
}

.u-section-1 .u-icon-6 {
  vertical-align: 0px;
  font-size: 1.2858em;
  margin-right: 10px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 208px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  margin: 10px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: -40px 30px 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: -40px auto 0 12px;
}

.u-section-1 .u-line-1 {
  width: 1071px;
  transform-origin: left center 0px;
  margin: 13px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  margin: 38px auto 0 40px;
}

.u-section-1 .u-btn-7 {
  margin: -22px 82px 0 auto;
  padding: 9px 55px 11px 53px;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  margin: -37px 273px 0 auto;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  margin: -3px auto 0 40px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 572px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  margin: 2px auto 0;
}

.u-section-1 .u-group-1 {
  width: 572px;
  min-height: 45px;
  height: auto;
  margin: 14px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-1 .u-text-8 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0 auto 0 14px;
}

.u-section-1 .u-text-9 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: -22px auto 0 111px;
}

.u-section-1 .u-text-10 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: -22px auto 0 231px;
}

.u-section-1 .u-text-11 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: -22px auto 0 342px;
}

.u-section-1 .u-text-12 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: -22px auto 0 443px;
}

.u-section-1 .u-group-2 {
  width: 572px;
  min-height: 59px;
  height: auto;
  margin: 12px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-1 .u-text-13 {
  font-weight: 400;
  font-size: 1rem;
  margin: 0 auto 0 117px;
}

.u-section-1 .u-text-14 {
  font-weight: 400;
  font-size: 1rem;
  margin: -19px auto 0 16px;
}

.u-section-1 .u-text-15 {
  font-weight: 400;
  font-size: 1rem;
  margin: -19px auto 0 243px;
}

.u-section-1 .u-text-16 {
  font-weight: 400;
  font-size: 1rem;
  margin: -19px 149px 0 auto;
}

.u-section-1 .u-text-17 {
  font-weight: 400;
  font-size: 1rem;
  margin: -19px 39px 0 auto;
}

.u-section-1 .u-group-3 {
  width: 572px;
  min-height: 59px;
  height: auto;
  margin: 12px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-1 .u-text-18 {
  font-weight: 400;
  font-size: 1rem;
  margin: 0 auto 0 117px;
}

.u-section-1 .u-text-19 {
  font-weight: 400;
  font-size: 1rem;
  margin: -19px auto 0 16px;
}

.u-section-1 .u-text-20 {
  font-weight: 400;
  font-size: 1rem;
  margin: -19px auto 0 243px;
}

.u-section-1 .u-text-21 {
  font-weight: 400;
  font-size: 1rem;
  margin: -19px 149px 0 auto;
}

.u-section-1 .u-text-22 {
  font-weight: 400;
  font-size: 1rem;
  margin: -19px 39px 0 auto;
}

.u-section-1 .u-group-4 {
  width: 572px;
  min-height: 59px;
  height: auto;
  margin: 12px auto 0;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-1 .u-text-23 {
  font-weight: 400;
  font-size: 1rem;
  margin: 20px auto 0 117px;
}

.u-section-1 .u-text-24 {
  font-weight: 400;
  font-size: 1rem;
  margin: -19px auto 0 16px;
}

.u-section-1 .u-text-25 {
  font-weight: 400;
  font-size: 1rem;
  margin: -19px auto 0 243px;
}

.u-section-1 .u-text-26 {
  font-weight: 400;
  font-size: 1rem;
  margin: -19px 149px 0 auto;
}

.u-section-1 .u-text-27 {
  font-weight: 400;
  font-size: 1rem;
  margin: -19px 39px 0 auto;
}

.u-section-1 .u-group-5 {
  width: 572px;
  min-height: 59px;
  height: auto;
  margin: 12px auto 0;
}

.u-section-1 .u-container-layout-8 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-1 .u-text-28 {
  font-weight: 400;
  font-size: 1rem;
  margin: 20px auto 0 117px;
}

.u-section-1 .u-text-29 {
  font-weight: 400;
  font-size: 1rem;
  margin: -19px auto 0 16px;
}

.u-section-1 .u-text-30 {
  font-weight: 400;
  font-size: 1rem;
  margin: -19px auto 0 243px;
}

.u-section-1 .u-text-31 {
  font-weight: 400;
  font-size: 1rem;
  margin: -19px 149px 0 auto;
}

.u-section-1 .u-text-32 {
  font-weight: 400;
  font-size: 1rem;
  margin: -19px 39px 0 auto;
}

.u-section-1 .u-group-6 {
  width: 572px;
  min-height: 59px;
  height: auto;
  margin: 12px auto 0;
}

.u-section-1 .u-container-layout-9 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-1 .u-text-33 {
  font-weight: 400;
  font-size: 1rem;
  margin: 20px auto 0 117px;
}

.u-section-1 .u-text-34 {
  font-weight: 400;
  font-size: 1rem;
  margin: -19px auto 0 16px;
}

.u-section-1 .u-text-35 {
  font-weight: 400;
  font-size: 1rem;
  margin: -19px auto 0 243px;
}

.u-section-1 .u-text-36 {
  font-weight: 400;
  font-size: 1rem;
  margin: -19px 149px 0 auto;
}

.u-section-1 .u-text-37 {
  font-weight: 400;
  font-size: 1rem;
  margin: -19px 39px 0 auto;
}

.u-section-1 .u-group-7 {
  width: 572px;
  min-height: 59px;
  height: auto;
  margin: 12px auto 0;
}

.u-section-1 .u-container-layout-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-1 .u-text-38 {
  font-weight: 400;
  font-size: 1rem;
  margin: 20px auto 0 117px;
}

.u-section-1 .u-text-39 {
  font-weight: 400;
  font-size: 1rem;
  margin: -19px auto 0 16px;
}

.u-section-1 .u-text-40 {
  font-weight: 400;
  font-size: 1rem;
  margin: -19px auto 0 243px;
}

.u-section-1 .u-text-41 {
  font-weight: 400;
  font-size: 1rem;
  margin: -19px 149px 0 auto;
}

.u-section-1 .u-text-42 {
  font-weight: 400;
  font-size: 1rem;
  margin: -19px 39px 0 auto;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 572px;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px 25px;
}

.u-section-1 .u-text-43 {
  font-weight: 400;
  margin: 10px auto 0;
}

.u-section-1 .u-group-8 {
  width: 430px;
  min-height: 100px;
  height: auto;
  margin: 30px auto 0;
}

.u-section-1 .u-container-layout-12 {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0;
}

.u-section-1 .u-form-1 {
  height: 68px;
  margin: 16px 273px 0 0;
}

.u-block-b96c-39 {
  margin: -472px 0 60px auto;
}

.u-section-1 .u-text-44 {
  margin: -48px 24px 0 auto;
}

.u-section-1 .u-text-45 {
  margin: -29px auto 0;
}

.u-section-1 .u-group-9 {
  width: 430px;
  min-height: 100px;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-13 {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0;
}

.u-section-1 .u-form-2 {
  height: 68px;
  margin: 16px 273px 0 0;
}

.u-block-b96c-106 {
  margin: -472px 0 60px auto;
}

.u-section-1 .u-text-46 {
  margin: -48px 24px 0 auto;
}

.u-section-1 .u-text-47 {
  margin: -29px auto 19px;
}

.u-section-1 .u-group-10 {
  width: 430px;
  min-height: 100px;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-14 {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0;
}

.u-section-1 .u-form-3 {
  height: 68px;
  margin: 16px 273px 0 0;
}

.u-block-b96c-116 {
  margin: -472px 0 60px auto;
}

.u-section-1 .u-text-48 {
  margin: -48px 24px 0 auto;
}

.u-section-1 .u-text-49 {
  margin: -29px auto 19px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 644px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 643px;
  }

  .u-section-1 .u-image-1 {
    height: 79px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 172px;
  }

  .u-section-1 .u-line-1 {
    width: 815px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 225px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 472px;
  }

  .u-section-1 .u-group-1 {
    width: 407px;
    height: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-8 {
    margin-left: -19px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 78px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 146px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 232px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 310px;
  }

  .u-section-1 .u-group-2 {
    width: 407px;
    height: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -33px;
  }

  .u-section-1 .u-text-14 {
    margin-top: -10px;
  }

  .u-section-1 .u-text-15 {
    margin-top: -28px;
    margin-left: 188px;
  }

  .u-section-1 .u-text-16 {
    margin-top: -11px;
    margin-right: 116px;
  }

  .u-section-1 .u-text-17 {
    margin-top: -24px;
  }

  .u-section-1 .u-group-3 {
    width: 407px;
    height: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-18 {
    margin-top: -33px;
  }

  .u-section-1 .u-text-19 {
    margin-top: -10px;
  }

  .u-section-1 .u-text-20 {
    margin-top: -28px;
    margin-left: 188px;
  }

  .u-section-1 .u-text-21 {
    margin-top: -11px;
    margin-right: 116px;
  }

  .u-section-1 .u-text-22 {
    margin-top: -24px;
  }

  .u-section-1 .u-group-4 {
    width: 407px;
    height: auto;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-23 {
    margin-top: -33px;
  }

  .u-section-1 .u-text-24 {
    margin-top: -10px;
  }

  .u-section-1 .u-text-25 {
    margin-top: -28px;
    margin-left: 188px;
  }

  .u-section-1 .u-text-26 {
    margin-top: -11px;
    margin-right: 116px;
  }

  .u-section-1 .u-text-27 {
    margin-top: -24px;
  }

  .u-section-1 .u-group-5 {
    width: 407px;
    height: auto;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-28 {
    margin-top: -33px;
  }

  .u-section-1 .u-text-29 {
    margin-top: -10px;
  }

  .u-section-1 .u-text-30 {
    margin-top: -28px;
    margin-left: 188px;
  }

  .u-section-1 .u-text-31 {
    margin-top: -11px;
    margin-right: 116px;
  }

  .u-section-1 .u-text-32 {
    margin-top: -24px;
  }

  .u-section-1 .u-group-6 {
    width: 407px;
    height: auto;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-33 {
    margin-top: -33px;
  }

  .u-section-1 .u-text-34 {
    margin-top: -10px;
  }

  .u-section-1 .u-text-35 {
    margin-top: -28px;
    margin-left: 188px;
  }

  .u-section-1 .u-text-36 {
    margin-top: -11px;
    margin-right: 116px;
  }

  .u-section-1 .u-text-37 {
    margin-top: -24px;
  }

  .u-section-1 .u-group-7 {
    width: 407px;
    height: auto;
  }

  .u-section-1 .u-container-layout-10 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-38 {
    margin-top: -33px;
  }

  .u-section-1 .u-text-39 {
    margin-top: -10px;
  }

  .u-section-1 .u-text-40 {
    margin-top: -28px;
    margin-left: 188px;
  }

  .u-section-1 .u-text-41 {
    margin-top: -11px;
    margin-right: 116px;
  }

  .u-section-1 .u-text-42 {
    margin-top: -24px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 472px;
  }

  .u-section-1 .u-group-8 {
    width: 357px;
    height: auto;
  }

  .u-section-1 .u-container-layout-12 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 236px;
  }

  .u-section-1 .u-text-44 {
    margin-top: -51px;
  }

  .u-section-1 .u-text-45 {
    margin-top: -26px;
    margin-left: 268px;
  }

  .u-section-1 .u-group-9 {
    width: 357px;
    height: auto;
  }

  .u-section-1 .u-container-layout-13 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 236px;
  }

  .u-section-1 .u-text-46 {
    margin-top: -51px;
  }

  .u-section-1 .u-text-47 {
    margin-top: -26px;
    margin-left: 268px;
  }

  .u-section-1 .u-group-10 {
    width: 357px;
    height: auto;
  }

  .u-section-1 .u-container-layout-14 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-form-3 {
    margin-right: 236px;
  }

  .u-section-1 .u-text-48 {
    margin-top: -51px;
  }

  .u-section-1 .u-text-49 {
    margin-top: -26px;
    margin-left: 268px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 300px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 454px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    width: 360px;
  }

  .u-section-1 .u-text-8 {
    margin-left: -21px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 76px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 122px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 198px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 266px;
  }

  .u-section-1 .u-group-2 {
    width: 360px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 165px;
  }

  .u-section-1 .u-group-3 {
    width: 360px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 165px;
  }

  .u-section-1 .u-group-4 {
    width: 360px;
  }

  .u-section-1 .u-text-25 {
    margin-left: 165px;
  }

  .u-section-1 .u-group-5 {
    width: 360px;
  }

  .u-section-1 .u-text-30 {
    margin-left: 165px;
  }

  .u-section-1 .u-group-6 {
    width: 360px;
  }

  .u-section-1 .u-text-35 {
    margin-left: 165px;
  }

  .u-section-1 .u-group-7 {
    width: 360px;
  }

  .u-section-1 .u-text-40 {
    margin-left: 165px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-group-8 {
    width: 310px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 189px;
  }

  .u-section-1 .u-text-45 {
    margin-left: 226px;
  }

  .u-section-1 .u-group-9 {
    width: 310px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 189px;
  }

  .u-section-1 .u-text-47 {
    margin-left: 226px;
  }

  .u-section-1 .u-group-10 {
    width: 310px;
  }

  .u-section-1 .u-form-3 {
    margin-right: 189px;
  }

  .u-section-1 .u-text-49 {
    margin-left: 226px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 400px;
  }

  .u-section-1 .u-image-1 {
    height: 341px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 169px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-45 {
    margin-left: 262px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-47 {
    margin-left: 262px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-49 {
    margin-left: 262px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 756px;
  }

  .u-section-1 .u-image-1 {
    height: 215px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 106px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-8 {
    margin-left: -9px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 71px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 111px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 175px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 233px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 100px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 140px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 99px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 100px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 140px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 99px;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 100px;
  }

  .u-section-1 .u-text-25 {
    margin-left: 140px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 99px;
  }

  .u-section-1 .u-group-5 {
    width: 340px;
  }

  .u-section-1 .u-text-28 {
    margin-left: 100px;
  }

  .u-section-1 .u-text-30 {
    margin-left: 140px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 99px;
  }

  .u-section-1 .u-group-6 {
    width: 340px;
  }

  .u-section-1 .u-text-33 {
    margin-left: 100px;
  }

  .u-section-1 .u-text-35 {
    margin-left: 140px;
  }

  .u-section-1 .u-text-36 {
    margin-right: 99px;
  }

  .u-section-1 .u-group-7 {
    width: 340px;
  }

  .u-section-1 .u-text-38 {
    margin-left: 100px;
  }

  .u-section-1 .u-text-40 {
    margin-left: 140px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 99px;
  }
}