doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(charset='utf-8')
  meta(name='keywords' content='Member Login')
  meta(name='description' content='')
  title About
  link(rel='stylesheet' href='style/style.css' media='screen')
  link(rel='stylesheet' href='style/home.css' media='screen')
  script.u-script(type='text/javascript' src='jquery.js' defer='')
  script.u-script(type='text/javascript' src='nicepage.js' defer='')
  meta(name='generator' content='Nicepage 4.21.5, nicepage.com')
  link#u-theme-google-font(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i')
  script(type='application/ld+json').
    {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "Site1"
    }
  meta(name='theme-color' content='#478ac9')
  meta(property='og:title' content='About')
  meta(property='og:type' content='website')
section#sec-1d8c.u-clearfix.u-valign-middle.u-section-1
  .u-clearfix.u-expanded-width.u-layout-wrap.u-layout-wrap-1
    .u-gutter-0.u-layout
      .u-layout-row
        .u-container-style.u-layout-cell.u-palette-4-light-3.u-size-30.u-layout-cell-1
          .u-container-layout.u-container-layout-1
            img.u-image.u-image-contain.u-image-default.u-preserve-proportions.u-image-1(src='style/coin.gif' alt='' data-image-width='500' data-image-height='500')
        .u-container-style.u-layout-cell.u-palette-2-light-3.u-size-30.u-layout-cell-2
          .u-container-layout.u-container-layout-2
            img.u-expanded-width.u-image.u-image-contain.u-image-default.u-image-2(src='style/LAZYCOINICON.png' alt='' data-image-width='1650' data-image-height='1087')
            a.u-border-none.u-btn.u-btn-round.u-button-style.u-hover-palette-2-base.u-radius-50.u-white.u-btn-1(href='login') Login
            a.u-border-none.u-btn.u-btn-round.u-button-style.u-hover-palette-2-base.u-radius-50.u-white.u-btn-2(href='create') Create
footer#sec-85c0.u-align-center.u-clearfix.u-footer.u-grey-80.u-footer
  .u-clearfix.u-sheet.u-sheet-1
    p.u-small-text.u-text.u-text-variant.u-text-1 Copy Right&nbsp; @2022 LazyKid

