doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(charset='utf-8')
  meta(name='keywords' content='Member Login')
  meta(name='description' content='')
  title About
  link(rel='stylesheet' href='style/style.css' media='screen')
  link(rel='stylesheet' href='style/login.css' media='screen')
  script.u-script(type='text/javascript' src='jquery.js' defer='')
  script.u-script(type='text/javascript' src='nicepage.js' defer='')
  meta(name='generator' content='Nicepage 4.21.5, nicepage.com')
  link#u-theme-google-font(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i')
  script(type='application/ld+json').
    {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": ""
    }
  meta(name='theme-color' content='#478ac9')
  meta(property='og:title' content='About')
  meta(property='og:type' content='website')
section#sec-4336.u-clearfix.u-section-1
  .u-align-center.u-container-style.u-expanded-width.u-gradient.u-group.u-shape-rectangle.u-group-1
    .u-container-layout.u-container-layout-1
      span.u-file-icon.u-icon.u-text-white.u-icon-1
        img(src='style/userIcon.png' alt='')
      h2.u-text.u-text-default.u-text-white.u-text-1 Mem&ZeroWidthSpace;ber Login
      .u-form.u-login-control.u-form-1
        form.u-clearfix.u-form-custom-backend.u-form-spacing-10.u-form-vertical.u-inner-form(id="form" method="POST" action="/loginAccount" name='form' style='padding: 0px;')
          .u-form-group.u-form-name.u-label-top
            label.u-label.u-text-grey-5.u-label-1(for='username') Username *
            input#username-a30d.u-border-2.u-border-grey-10.u-grey-10.u-input.u-input-rectangle.u-input-1(type='text' placeholder='Enter your Username' name='username' required='')
          .u-form-group.u-form-password.u-label-top
            label.u-label.u-text-grey-5.u-label-2(for='password') Password *
            input#password-a30d.u-border-2.u-border-grey-10.u-grey-10.u-input.u-input-rectangle.u-input-2(type='text' placeholder='Enter your Password' name='password' required='')
          .u-align-left.u-form-group.u-form-submit.u-label-top
            input.u-active-palette-2-base.u-border-none.u-btn.u-btn-submit.u-button-style.u-hover-palette-1-base.u-palette-4-base.u-text-active-palette-2-base.u-text-body-alt-color.u-text-hover-palette-2-base.u-btn-1(type='submit' value='Login') 
            .u-form-checkbox.u-form-group.u-label-top
            label.u-label.u-text-grey-5.u-label-5
                message=message
      a.u-border-1.u-border-active-grey-10.u-border-hover-grey-10.u-border-no-left.u-border-no-right.u-border-no-top.u-btn.u-button-style.u-login-control.u-login-create-account.u-none.u-text-body-alt-color.u-btn-2(href='create') Don&apos;t have an account?
footer#sec-85c0.u-align-center.u-clearfix.u-footer.u-grey-80.u-footer
  .u-clearfix.u-sheet.u-sheet-1
    p.u-small-text.u-text.u-text-variant.u-text-1 Copy Right&nbsp; @2022 LazyKid