doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(charset='utf-8')
  meta(http-equiv='refresh' content='3')
  meta(name='keywords' content='Home, Time, User')
  meta(name='description' content='')
  title Home
  link(rel='stylesheet' href='style/style.css' media='screen')
  link(rel='stylesheet' href='style/stock.css' media='screen')
  script.u-script(type='text/javascript' src='jquery.js' defer='')
  script.u-script(type='text/javascript' src='nicepage.js' defer='')
  meta(name='generator' content='Nicepage 4.21.5, nicepage.com')
  link#u-theme-google-font(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i')
  link#u-page-google-font(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,500,600,700,800,900')
  script(type='application/ld+json').
    {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "Stock"
    }
  meta(name='theme-color' content='#478ac9')
  meta(property='og:title' content='Home')
  meta(property='og:type' content='website')
section#sec-851f.u-clearfix.u-container-align-center.u-section-1
  .u-clearfix.u-expanded-width.u-layout-wrap.u-layout-wrap-1
    .u-layout
      .u-layout-row
        .u-size-29-sm.u-size-29-xs.u-size-60-md.u-size-8-lg.u-size-8-xl
          .u-layout-col
            .u-container-align-center.u-container-style.u-layout-cell.u-size-60.u-layout-cell-1
              .u-border-2.u-border-grey-5.u-container-layout.u-container-layout-1
                img.u-expanded-width.u-image.u-image-contain.u-image-default.u-image-1(src='style/HomeIcon.png' alt='' data-image-width='672' data-image-height='525')
                a.u-align-center.u-border-none.u-btn.u-btn-round.u-button-style.u-grey-5.u-hover-palette-5-light-1.u-radius-50.u-btn-1(href='user')
                  span.u-file-icon.u-icon.u-text-black.u-icon-1
                    img(src='style/Home.png' alt='')
                  | &nbsp;Home
                  span(style='font-size: 0.875rem;')
                a.u-align-center.u-border-none.u-btn.u-btn-round.u-button-style.u-hover-palette-5-light-1.u-palette-5-light-1.u-radius-50.u-text-hover-palette-5-light-2.u-text-palette-1-base.u-btn-2(href='stock')
                  span.u-file-icon.u-icon.u-text-palette-1-base.u-icon-2
                    img(src='style/Coin.png' alt='')
                  | &nbsp;Stock
                  span(style='font-size: 0.875rem;')
                a.u-align-center.u-border-none.u-btn.u-btn-round.u-button-style.u-grey-5.u-hover-palette-5-light-1.u-radius-50.u-text-body-color.u-text-hover-palette-5-light-2.u-btn-3(href='search')
                  span.u-file-icon.u-icon.u-text-black.u-icon-3
                    img(src='style/Search.png' alt='')
                  | &nbsp;Search
                  span(style='font-size: 0.875rem;')
                a.u-align-center.u-border-none.u-btn.u-btn-round.u-button-style.u-grey-5.u-hover-palette-5-light-1.u-radius-50.u-text-body-color.u-text-hover-palette-5-light-2.u-btn-4(href='history')
                  span.u-file-icon.u-icon.u-icon-4
                    img(src='style/History.png' alt='')
                  | &nbsp;History
                  span(style='font-size: 0.875rem;')
                a.u-align-center.u-border-none.u-btn.u-btn-round.u-button-style.u-grey-5.u-hover-palette-5-light-1.u-radius-50.u-text-body-color.u-text-hover-palette-5-light-2.u-btn-5(href='logout')
                  span.u-file-icon.u-icon.u-icon-5
                    img(src='style/Help.png' alt='')
                  | &nbsp;&ZeroWidthSpace;tutorial
                  span(style='font-size: 0.875rem;')
                a.u-align-center.u-border-none.u-btn.u-btn-round.u-button-style.u-grey-5.u-hover-palette-5-light-1.u-radius-50.u-text-body-color.u-text-hover-palette-5-light-2.u-btn-6(href='https://nicepage.com/html5-template')
                  span.u-file-icon.u-icon.u-icon-6
                    img(src='style/Logout.png' alt='')
                  | &nbsp;Logout
                  span(style='font-size: 0.875rem;')
        .u-size-31-sm.u-size-31-xs.u-size-52-lg.u-size-52-xl.u-size-60-md
          .u-layout-col
            .u-size-30
              .u-layout-row
                .u-container-style.u-layout-cell.u-size-60.u-layout-cell-2
                  .u-border-2.u-border-grey-5.u-container-layout.u-container-layout-2
                    h1.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-1 Stock
                    h2.u-align-right.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-2 
                      time=time
                    .u-align-center.u-border-3.u-border-grey-5.u-line.u-line-horizontal.u-line-1
            .u-size-30
              .u-layout-row
                .u-container-style.u-layout-cell.u-shape-rectangle.u-size-60.u-layout-cell-3
                  .u-border-2.u-border-grey-5.u-container-layout.u-container-layout-3
                    .u-border-2.u-border-black.u-border-no-left.u-border-no-right.u-border-no-top.u-container-style.u-group.u-shape-rectangle.u-group-1
                      .u-container-layout.u-container-layout-4
                        h6.u-text.u-text-default.u-text-3 Market Cap
                        h6.u-text.u-text-default.u-text-4 Today
                        h6.u-text.u-text-default.u-text-5 Price
                        h6.u-text.u-text-default.u-text-6 Symbol
                        h6.u-text.u-text-default.u-text-7 Name
                    .u-container-style.u-group.u-shape-rectangle.u-group-2
                      .u-container-layout.u-container-layout-5
                        .u-align-left.u-form.u-form-1
                          form.u-clearfix.u-form-spacing-10.u-form-vertical.u-inner-form(action='https://forms.nicepagesrv.com/Form/Process' source='email' name='form' style='padding: 10px;')
                            .u-align-right.u-form-group.u-form-submit
                              a.u-border-none.u-btn.u-btn-round.u-btn-submit.u-button-style.u-hover-palette-2-base.u-radius-50(href='#') AMZN
                              input.u-form-control-hidden(type='submit' value='submit')
                            .u-form-send-message.u-form-send-success  Thank you! Your message has been sent. 
                            .u-form-send-error.u-form-send-message  Unable to send your message. Please fix errors then try again. 
                            input(type='hidden' value='' name='recaptchaResponse')
                            input(type='hidden' name='formServices' value='85cf8e2430ffaf1905d654880bf6de59')
                        h3.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-8 
                          amazonVolume=amazonVolume
                        h3.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-9 
                          amazonToday=amazonToday
                        h3.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-10 
                          amazonPrice=amazonPrice
                        h3.u-text.u-text-default.u-text-11 Amazon
                    .u-container-style.u-group.u-shape-rectangle.u-group-3
                      .u-container-layout.u-container-layout-6
                        .u-align-left.u-form.u-form-2
                          form.u-clearfix.u-form-spacing-10.u-form-vertical.u-inner-form(action='https://forms.nicepagesrv.com/Form/Process' source='email' name='form' style='padding: 10px;')
                            .u-align-right.u-form-group.u-form-submit
                              a.u-border-none.u-btn.u-btn-round.u-btn-submit.u-button-style.u-hover-palette-2-base.u-radius-50(href='#') AMZN
                              input.u-form-control-hidden(type='submit' value='submit')
                            .u-form-send-message.u-form-send-success  Thank you! Your message has been sent. 
                            .u-form-send-error.u-form-send-message  Unable to send your message. Please fix errors then try again. 
                            input(type='hidden' value='' name='recaptchaResponse')
                            input(type='hidden' name='formServices' value='85cf8e2430ffaf1905d654880bf6de59')
                        h3.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-12 $1000
                        h3.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-13 $1000
                        h3.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-14 $1000
                        h3.u-text.u-text-default.u-text-15 Amazon
                    .u-container-style.u-group.u-shape-rectangle.u-group-4
                      .u-container-layout.u-container-layout-7
                        .u-align-left.u-form.u-form-3
                          form.u-clearfix.u-form-spacing-10.u-form-vertical.u-inner-form(action='https://forms.nicepagesrv.com/Form/Process' source='email' name='form' style='padding: 10px;')
                            .u-align-right.u-form-group.u-form-submit
                              a.u-border-none.u-btn.u-btn-round.u-btn-submit.u-button-style.u-hover-palette-2-base.u-radius-50(href='#') AMZN
                              input.u-form-control-hidden(type='submit' value='submit')
                            .u-form-send-message.u-form-send-success  Thank you! Your message has been sent. 
                            .u-form-send-error.u-form-send-message  Unable to send your message. Please fix errors then try again. 
                            input(type='hidden' value='' name='recaptchaResponse')
                            input(type='hidden' name='formServices' value='85cf8e2430ffaf1905d654880bf6de59')
                        h3.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-16 $1000
                        h3.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-17 $1000
                        h3.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-18 $1000
                        h3.u-text.u-text-default.u-text-19 Amazon
                    .u-container-style.u-group.u-shape-rectangle.u-group-5
                      .u-container-layout.u-container-layout-8
                        .u-align-left.u-form.u-form-4
                          form.u-clearfix.u-form-spacing-10.u-form-vertical.u-inner-form(action='https://forms.nicepagesrv.com/Form/Process' source='email' name='form' style='padding: 10px;')
                            .u-align-right.u-form-group.u-form-submit
                              a.u-border-none.u-btn.u-btn-round.u-btn-submit.u-button-style.u-hover-palette-2-base.u-radius-50(href='#') AMZN
                              input.u-form-control-hidden(type='submit' value='submit')
                            .u-form-send-message.u-form-send-success  Thank you! Your message has been sent. 
                            .u-form-send-error.u-form-send-message  Unable to send your message. Please fix errors then try again. 
                            input(type='hidden' value='' name='recaptchaResponse')
                            input(type='hidden' name='formServices' value='85cf8e2430ffaf1905d654880bf6de59')
                        h3.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-20 $1000
                        h3.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-21 $1000
                        h3.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-22 $1000
                        h3.u-text.u-text-default.u-text-23 Amazon
                    .u-container-style.u-group.u-shape-rectangle.u-group-6
                      .u-container-layout.u-container-layout-9
                        .u-align-left.u-form.u-form-5
                          form.u-clearfix.u-form-spacing-10.u-form-vertical.u-inner-form(action='https://forms.nicepagesrv.com/Form/Process' source='email' name='form' style='padding: 10px;')
                            .u-align-right.u-form-group.u-form-submit
                              a.u-border-none.u-btn.u-btn-round.u-btn-submit.u-button-style.u-hover-palette-2-base.u-radius-50(href='#') AMZN
                              input.u-form-control-hidden(type='submit' value='submit')
                            .u-form-send-message.u-form-send-success  Thank you! Your message has been sent. 
                            .u-form-send-error.u-form-send-message  Unable to send your message. Please fix errors then try again. 
                            input(type='hidden' value='' name='recaptchaResponse')
                            input(type='hidden' name='formServices' value='85cf8e2430ffaf1905d654880bf6de59')
                        h3.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-24 $1000
                        h3.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-25 $1000
                        h3.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-26 $1000
                        h3.u-text.u-text-default.u-text-27 Amazon
                    .u-container-style.u-group.u-shape-rectangle.u-group-7
                      .u-container-layout.u-container-layout-10
                        .u-align-left.u-form.u-form-6
                          form.u-clearfix.u-form-spacing-10.u-form-vertical.u-inner-form(action='https://forms.nicepagesrv.com/Form/Process' source='email' name='form' style='padding: 10px;')
                            .u-align-right.u-form-group.u-form-submit
                              a.u-border-none.u-btn.u-btn-round.u-btn-submit.u-button-style.u-hover-palette-2-base.u-radius-50(href='#') AMZN
                              input.u-form-control-hidden(type='submit' value='submit')
                            .u-form-send-message.u-form-send-success  Thank you! Your message has been sent. 
                            .u-form-send-error.u-form-send-message  Unable to send your message. Please fix errors then try again. 
                            input(type='hidden' value='' name='recaptchaResponse')
                            input(type='hidden' name='formServices' value='85cf8e2430ffaf1905d654880bf6de59')
                        h3.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-28 $1000
                        h3.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-29 $1000
                        h3.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-30 $1000
                        h3.u-text.u-text-default.u-text-31 Amazon
section#sec-a1b7.u-clearfix.u-section-2
  .u-clearfix.u-sheet.u-sheet-1
footer#sec-f9df.u-align-center.u-clearfix.u-footer.u-grey-80.u-footer
  .u-clearfix.u-sheet.u-sheet-1
    p.u-small-text.u-text.u-text-variant.u-text-1  Copy Right&nbsp; @2022 LazyKid
section.u-backlink.u-clearfix.u-grey-80
  a.u-link(href='https://nicepage.com/templates' target='_blank')
    span Free Templates
  p.u-text
    span created with
  a.u-link(href='https://nicepage.com/static-site-generator' target='_blank')
    span Static Website Generators
  | .
